<!DOCTYPE html>
<html>
  <head>
    <title>仿全栈营</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render "common/navbar" %>
    <%= render "common/course_menu" %>
    
    <div class="container main-content">
      
      <%= render "common/flashes" %>
      <div class="show-content">
        <%= yield %>
      </div>
    </div>
    
    <%= render "common/footer" %>
  </body>
</html>